.banner__titulo {
  color: #FDFDFD;
  font-family: Pacifico, cursive;
  font-size: 5.0625em;
  position: absolute;
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  top: 35%;
  width: 100%;
}

@media screen and (max-width: 1210px) {
  .banner__titulo {
    font-size: 3em;
  }
}

@media screen and (max-width: 410px) {
  .banner__titulo {
    font-size: 2.5em;
  }
}
