.banner__titulo {
  font-family: Pacifico, cursive;
  color: #FDFDFD;
  font-size: 5.0625em;
  position: absolute;
  top: 35%;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
  text-align: center;
  width: 100%;
}
