.receitas {
  background-color: #E5E5E5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5em 0 0 5em;
}

@media screen and (max-width: 1210px) {
  .receitas {
    padding: 5em 0 0 1em;
  }
}
